html {
  font-family: "Roboto", sans-serif;
  font-size: 16px; /* 1rem = 16px; */
}

body {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


nav ul {
  list-style: none;
  display: flex;
 
}

nav ul li {
  padding-left: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #292929;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pronounciation {
  font-size: 0.9rem;
  color: #292929;
}

h1 {
  text-align: left;
  color: rgb(60,179,113);
}

main {
  flex: 1;
}


#about-section {
  display: flex;
  padding-top: 2rem;

}

.content {
  padding-right: 2rem;
}

#about-section .image-container {
  padding-top: 4rem;
  flex-shrink: 0;
}

#skills-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.icons i {
  padding-right: 1rem;
}

#projects-section {
  display: flex;
  flex-direction: column;
}

#projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 1.5rem;
}

.project {
  margin-right: 2rem;
  margin-bottom: 1rem;
  max-width: 50%;
}

.project .image-container img {
  display: block;    /* removes inline whitespace */
  width: 100%;       /* fill container width */
  height: auto;      /* keep original aspect ratio */
  max-width: 100%;
}

#info-1, #info-2, #info-3 {
  display: none;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(60,179,113); 
}

.contact-icons {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container i {
  padding-right: 1rem;
}

.icon-container a {
  text-decoration: none;
  color: #292929;
  font-weight: bold;
}

@media only screen and (max-width:600px) {
  .project {
    max-width: 100%;
    margin-right: 0;
  }

  #about-section {
    display: flex;
    flex-direction: column;
  }

  /* Allow the .content's children to participate in the about-section flow so we can reorder them */
  #about-section .content {
    display: contents;
  }

  /* Desired order: heading, image, paragraph */
  #about-section h1 {
    order: 1;
  }

  #about-section .image-container {
    order: 2;
    margin: 1rem 0;
    padding-top: 0;
  }

  #about-section p {
    order: 3;
  }

}